@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
}

h1 {
  color: red;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

p {
  text-align: center;
  color: white;
  background-color: black;
}

.red-title {
  color: red;
}

.title {
  font-weight: bold;
}